body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 400px;
  }
  
  .form-heading {
    margin-top: 0;
    font-weight: 400;
    font-size: 2.125rem;
    color: #2c2143;
  }
  
  .form-text {
    font-size: 1rem;
    color: #555555;
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form input,
  .form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
  }
  
  .form input.error {
    border-color: #ff0000;
  }
  
  .password-toggle {
    margin-bottom: 10px;
  }
  
  .password-toggle input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .form-button {
    background-color: #7f56da;
    color: #ffffff;
    cursor: pointer;
  }
  
  .form-links {
    margin-top: 10px;
    font-size: 0.875rem;
  }
  
  .form-links a {
    margin-left: 5px;
    text-decoration: none;
    color: #7f56da;
  }
  